/* Import Tailwind CSS styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Override conflicting styles */
body {
  /* Remove any conflicting styles */
  margin: 0;
  font-family: inherit; /* Ensure font-family matches Tailwind's default */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* Remove any conflicting styles */
  font-family: inherit; /* Ensure font-family matches Tailwind's default */
}
